<p>Hello {poc_first_name},</p>

<p>{reporter_intro} setting up a new Google Workspace SSO connection which will allow your users to easily sign in to your new app.</p>

<p>Please follow the steps listed in the following help article to get started:<br/>
<a href="https://www.technicalsupportteam.com/en/articles/10770994-google-workspace-sso-setup-guide" target="_blank">Google Workspace SSO Setup Guide</a></p>

<p>Once all steps are complete, please be sure to respond to this email with the following information:</p>

<ul>
<li>Your Google Workspace domain name (e.g., google.com)</li>
<li>A Google Workspace administrator's email address</li>
<li>Your Organizational Unit (OU) paths, and the corresponding App Roles you want them mapped to.<br/>
Example: <code>/Example District/Elementary School/Students/* -&gt; Student</code><br/>
If you want to map all sub-organizational units on the path to be mapped to the chosen role, please ensure you add an asterisk (*) to the end of the path.</li>
</ul>

<p>Once we receive this information, we will finish the setup on our end and reply back notifying you when your SSO is ready to use.</p>

<p>If you have any questions, please don't hesitate to reach out.</p>

<p style="font-size: 12px; color: #666; margin-top: 20px;"><em>Note: When responding, please use "Reply All" to ensure all relevant team members stay in the loop. Thank you!</em></p>
